<% include partial/header %>
        <!-- Page Content -->
        
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Welcome To Testing Helper Web App</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>   <!-- /.row -->
        </div>  <!-- /.container-fluid -->
        
        <!-- Page Content -->
<% include partial/footer %>