body {
	background: gray;
}

/*h1	{
	text-decoration: blink;
}

ul {
	border: 2px solid;
}*/

/*Start*/

* {
	color: green;
}

/*Descendant Selector*/
li a {
	color:  purple;
}

/*Adjacent Selector*/
h4 + ul {
	border: 3px solid yellow;
}

/*Attribute Selector*/
a[href="http://www.google.com"] {
	color: red;
}

/*nth of type*/
/*li:nth-of-type(3) {
	background: #335588 ;
	color: #88FF90;
}*/
li:nth-of-type(odd) {
	background: #335588 ;
	color: #88FF90;
}