/*font-family*/
p {
	font-family: 'Playfair Display', serif;
}

h1 {
	font-family: 'Baloo Bhai', cursive;;
}
/*font-size*/
/*font-weight*/
body {
	font-size: 10px;
}

h1 {
	font-size: 4.0em;
}

p {
	font-size: 2.0em;
	font-weight: normal;
	text-align: right;
}

span {
	font-size: 2.0em;
	font-weight: bold;
	font-family: 'Playfair Display', serif;
}

/*line-height*/
p {
	line-height: 1.5;
}
/*text-align*/
h1 {
	text-align: center; 
	text-decoration: underline ;
}
/*text-decoration*/
