<h1>Friends List Goes Here!</h1>

<% friends.forEach(function(friend){ %>
    <li><%= friend %></li>
<% }); %>

<form action="/addFriend" method="POST">
    <input type="text" placeholder="name" name="newFriendName" id="">
    <button>I have a new friend</button>
</form>