<h1>This is the secret page!</h1>

<p>here your gift</p>

<div>
    <a href="/">Go Back</a>
</div>
<div>
    <a href="/logout">Logout!</a>
</div>
<div>
    <img src="https://instagram.fsgn5-4.fna.fbcdn.net/vp/90fb97404f529ce541d4a8f51426cd76/5C592C96/t51.2885-15/e35/42467195_2321565501463006_9214266825229559077_n.jpg" alt="">
</div>