
        <!-- Page Content -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Column To In Statement</h1>
                        <textarea name="raw-col" id="input-col-data" placeholder="Input data goes here" cols="30" rows="10"></textarea>
                        <button id="convert-col-to-statement" name="testBtn">Convert</button>
                        <textarea name="raw-col" id="output-in-statement" placeholder="Input data goes here" cols="30" rows="10"></textarea>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>   <!-- /.row -->
            </div>  <!-- /.container-fluid -->