
        <!-- Page Content -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Generate Import Payroll File For Paygroup</h1>
                        <input type="text" name="paygroupId" id="paygroupId" placeholder="PaygroupId goes here">
                        <button id="generatePRfileBtn">Generete Payroll File</button>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>   <!-- /.row -->
            </div>  <!-- /.container-fluid -->