<link rel="stylesheet" type="text/css" href="/app.css">
<h1>This is another page: 5 + 5 = <%= 5 + 5 %></h1>

<h1>This is another page: <%= thingVar %></h1>
<% if (thingVar === "dragon"){ %>
	<p> I like dragon ball.</p>
<% } else { %>
	<p> Not my favorite one.</p>
<% } %>


<p>This is anotherPage.ejs</p>